# Frameworks (for testing)
Django>=4.0
fastapi>=0.100
starlette>=0.27
httpx>=0.24

# Testing
pytest>=8.3.3,<9.0.0
pytest-django>=4.9.0,<5.0.0
pytest-cov>=5.0.0,<6.0.0
pytest-asyncio>=0.24.0,<1.0.0
pytest-mock==3.15.1

# Linting
black==24.8.0
flake8==7.1.1